{% extends "base.html" %}
{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">
  <h4>Expense Items</h4>
  <a href="{% url 'expense_item_add' %}" class="btn btn-dark">
    + Add Expense Item
  </a>
</div>

<div class="row g-4">
  {% for expense_item in expense_items %}
  <div class="col-md-3">
    <div class="item-grid-card text-center">

      {% comment %} <div class="item-img placeholder mb-2">
        <div style="color: #999; font-size: 14px; padding: 40px;">No Image</div>
      </div> {% endcomment %}

      <div class="item-grid-name mt-2">
        <strong>{{ expense_item.name }}</strong>
      </div>

      <div class="item-grid-price">
        {{ expense_item.category|default:"—" }}
      </div>

      <div class="d-flex gap-2 mt-3">
        <a href="{% url 'expense_item_edit' expense_item.id %}"
           class="btn btn-outline-dark w-50">
          Edit
        </a>

        <a href="{% url 'expense_item_delete' expense_item.id %}"
           class="btn btn-outline-danger w-50">
          Delete
        </a>
      </div>

    </div>
  </div>
  {% empty %}
  <div class="col-12 text-center text-muted">
    No expense items added
  </div>
  {% endfor %}
</div>

{% endblock %}
